body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
} 

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.header {
        border-bottom: 1px solid #E7E9FC;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
}
a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header-container {
    display: flex;
}
.navigation {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.adress-list {
    display: flex;
    gap: 40px;
}
.logo-web {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.link-studio {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.link-studio:hover {
    color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.link-studio:focus {
    color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
    display: block;
}
.link:hover {
    color: var(--OCEAN, #404BBF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}   
.link:focus {
    color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}   
.address {
    font-style: normal;
    margin-left: auto;

}
.address-link {
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.address-link:hover {
    color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.address-link:focus {
    color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.section-one {
    background-color:  #2E2F42;
    padding: 188px 0;
    width: 100%;
    height: 600px;
}
.one-container {
    display: block;
    align-items: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office-min.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.section-one-title {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    text-transform: capitalize;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.button-section-one {
        background: var(--IRIS, #4D5AE5);
        color: var(--WHITE, #FFF);
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.64px;
            cursor: pointer;
            border-radius: 4px;
            padding: 16px 32px;
            margin: 0 auto;
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
}

.button-section-one:hover {
        background: var(--OCEAN, #404BBF);
        color: var(--WHITE, #FFF);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.64px;
}
.button-section-one:focus {
    background-color: #404BBF
}
.section-two {
    padding: 120px 0;
    
}
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.section-icon-cont {
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.icon-two {
    margin-top: 24px;
    margin-bottom: 24px;
}
.section-two-name {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
        margin-bottom: 8px;
}
.section-two-dis {
    display: flex;
    gap: 24px;
}
.section-two-items {
    width: calc((100% - 72px) /4);
}
.section-two-text {
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.section-three {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-three-title {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.section-three-dis {
    display: flex;
    gap: 24px;
}
.section-three-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) /4);
    border-radius: 0px 0px 4px 4px;
}
.section-three-card {
    padding: 32px 0;
}
.section-three-name {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
        padding-top: 32px;
        margin-bottom: 8px;
        text-align: center;
}
.section-three-text {
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
        text-align: center;
        padding-bottom: 32px;
}
.section-four {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four-title {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px; 
        margin-bottom: 72px;
        text-align: center;
}
.section-four-dis {
  display: flex;
  flex-wrap: wrap;
   gap: 48px 24px;
}
.section-four-list {
    width: calc((100% - 48px) / 3);
    
    
}
.section-four-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.section-four-name {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
        margin-bottom: 8px;
        
}
.section-four-text {
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 100px 0;
}
.logo-web-footer {
    color: var(--IRIS, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        padding-top: 101,5px;
        padding-left: 156px;
        margin-bottom: 16px; 
        display: inline-block;   
}
.logo-studio-footer {
    color: var(--CLOUD, #F4F4FD);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;      
}
.footer-text {
    color: #F4F4FD;
       
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        padding-top: 17,5px;
        margin-left: 156px;
        
}